/*******************************/
/* 0: RESET                    */
/* 1: TYPOGRAPHIE              */
/* 2: TOP MENU                 */
/* 3: SITE HEADER              */
/*     3.1. Logo & Recherche   */
/*     3.2. Menu principale    */
/* 4: CONTENT                  */
/*     4.1. Featured Blocks    */
/*     4.2. Listes             */
/*      4.2.1 Liste Events     */
/*      4.2.2 Liste Actus      */
/* 5: FOOTER                   */
/* 6: FOOTER Bottom            */
/*                             */
/*******************************/

/* 0: RESET */
  * ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
  }
  body {
    font-size: 14px;
    background-image: url("../images/bg-pt.png");
    background-size: auto;
    background-repeat: repeat;
    color: #666;
  }
  ul {
    list-style: none;
  }
  .spacer {
    clear: both;
    width: 100%;
  }
/* 2: TOP MENU */
  .toprow {
    width: 100%;
    height: 40px;
    background-color: #333366;
  }
  .top-menus li {
    display: inline;
    line-height: 40px;
    font-size: 12px;
  }
    .top-menus li:first-child a {
      border-left: 1px solid rgba(0, 0, 0, .1)
    }
    .top-menus i {
      font-size: 15px;
    }
    .top-menus a {
      color: #fff;
      opacity: .8;
      padding: 0 12px;
      border-right: 1px solid rgba(0, 0, 0, .1);
      display: inline-block;
      text-decoration: none;
    }
    .top-menus a:hover{
    opacity: 1;
    color:#fff;
  }

/* 3: SITE HEADER */
  .site-header{
    width: 100%;
  }
  /* 3.1. Logo & Recherche */
    .site-header .topbar {
      z-index: 3;
      height: 115px;
      background-color: rgba(204, 204, 255, .6); 
    }
    .site-header .logo {
      margin-top: 5px; 
    }
    .site-header .top-search {
      margin-top: 37px;
      width: 50%;
      float: right;
    }
  /* 3.2. Menu principale */
    .main-menu {
      background-color: rgba(209, 52, 52, .8);
    }
      .nav-tabs.nav-justified > li > a {
        color: #fff;
        border-bottom: none;
      }
      .nav-tabs.nav-justified > li > a:hover,
      .nav-tabs.nav-justified > li > a:focus {
        background-color: #d13434;
        border: none;
      }
/* 4: CONTENT */
  /* 4.1. Featured Blocks */
    .featured-block {
      margin-top: 20px;
    }
      .featured-block strong {
        display: inline-block;
        position: absolute;
        padding: 5px 20px;
        background-color: #d13434;
        color: #fff;
        font-size: 18px;
        left: 5px;
        bottom: 30px;
        z-index: 10;
      }
      .featured-block:hover strong {
        bottom: 58px;
        transition: bottom .3s;
      }
      .featured-block .more {
        background-color: #fff;
        color: #333;
        display: inline-block;
        padding: 5px 20px 5px 30px;
        position: absolute;
        left: 10px;
        bottom: 30px;
        z-index: 9;
      }
    /* 4.2 Listes */
    .listing h3 {
      margin-bottom: 0px;
      padding: 2px;
      padding-left: 10px;
      color: #fff;
      background-color: rgba(209, 52, 52, .8);
      border-bottom: 2px solid #333;
    }
    .listing li {
        width: 100%;
        float: left;
        border-bottom: 1px solid #333;
        background-color: lavender;
      }
    .listing .meta-data {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
        font-style: italic;
      } 
      /* 4.2.1 Liste Events */
      .events-listing .item div {
        float: left;
        
      }
        .event-date {
          width: 15%;
          text-align: center;
          text-transform: uppercase;
        }
          .event-date .date {
            margin-bottom: -8px;
            font-size: 30px;
            font-weight: 700;
            display: block;
          }
          .event-date .month {
            letter-spacing: 2px;
            font-weight: 700;
            color: #999;
            display: block;
            margin-bottom: 0px;
          }
        .event-detail {
          width: 70%;
        }
          .event-detail h4 {
            margin-bottom: 0px;
          }
          .event-detail .time {
            font-style: italic;
          }
        .event-url {
          width: 15%;
          text-align: right;
          margin-top: 1.5%;
          padding-right: 1.5%;
        }
      /* 4.2.2 Liste Actus */
      .post-listing .img-thumbnail {
        margin: 5px;
      }
      .post-title h2 {
        margin-bottom: 0px;
      }
      .post-listing .item p {
        margin-right: 10px;
      }
/* 5: FOOTER */
  .site-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #f2f2f2;
  }
    .site-footer h4 {
      padding-bottom: 5px;
      font-size: 16px;
      font-weight: 700;
      color: #333;
      text-transform: uppercase;
      border-bottom: 1px solid #d1d1d1
    }
/* 6: FOOTER Bottom */
  .site-footer-bottom {
    padding: 10px 0;
    background-color: #e1e1e1;
  }
  .site-footer-bottom p {
    margin-bottom: 0;
    font-size: 12px;
  }
  .site-footer-bottom .social-icons {
    text-align: right;
  }